.tray--tabs-js {

    &__tabs-wrapper {
        display: flex;
        flex-wrap: wrap;
        //margin: 0 auto 20px;

        .tab-button {
            @include nunito-bld;
            @extend %anim;
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            background: #fff;
            cursor: pointer;
            border: none;
            border-radius: 0;
            text-align: center;
            font-size: 1.8rem;
            color: $Light-Blue;
            box-shadow: inset 0 0 0 0 $Orange;
            background-color: transparent;
            border: 0;

            &:hover {
                box-shadow: inset 0 -4px 0 0 darken($Light-Blue, 15%);
                color: darken($Light-Blue, 15%);
            }

            span {
                display: none;
            }

            svg {
                width: 50px;

                path {
                    fill: $Light-Blue;
                }
            }

            &.active {
                outline: none;
                box-shadow: inset 0 -4px 0 0 $Orange;
            }

            &:focus {
                outline: none;
                box-shadow: inset 0 -4px 0 0 $Orange;
                background-color: rgba(#000, .05);
            }
        }
    }

    &__content {
        @extend %anim;
        display: none;
        padding: 50px 0;
        background: #fff;
        color: $Dark-Gray;
        margin-top: -1px;
        width: 100%;
        box-shadow: inset 0 0 0 0 $Orange;
        border-top: 1px solid $Light-Gray;
        line-height: get-line-height(23px, 38.5px);

        h2 {
            @include nunito-bld;
            font-size: 2.8rem;
            color: $Light-Blue;
            margin-bottom: 30px;
        }

        &.active {
            display: block;
        }

        &:focus {
            outline: none;
            box-shadow: inset 0 0 0 4px $Orange;
        }
    }
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include sm {

    .tray--tabs-js {

        &__content {
            line-height: get-line-height(18px, 37.5px);
        }
    }
}//== SM -------------------------

@include md {
    
    .tray--tabs-js {

        &__tabs-wrapper {
    
            .tab-button {
                height: 103px;
                padding-top: 52px;
    
                span {
                    display: block;
                }
    
                svg {
                    display: none;
                }
            }
        }

        &__content {

            h2 {
                display: none;
            }
        }
    }
    
}//== MD Break ---------------------


@include lg {
    
    .tray--tabs-js {

        .tray--tabs__label {
            width: auto;
        }

        &__content {
            padding: 50px 110px;

        }
    }
    
}//== LG Break ---------------------

@include xl {

    .tray--tabs-js {

        &__content {
            padding: 50px 210px;
        }
    }
}//== XL Break ---------------------