.col-12 {
    padding-left: 30px;
    padding-right: 30px;
}

.center-item {
    display: flex;
    justify-content: center;
}

//== Breaks --------------------------------------------------------------------------
//==----------------------------------------------------------------------------------
@include md {

    .col-12 {
        padding-left: 10px;
        padding-right: 10px;
    }

}

//== MD Break ---------------------